{% extends 'blog/base.html' %}

{% block content %}
    <p>블로그 게시판 첫 화면입니다.</p>
    <a href="{% url 'blog:write' %}" class="btn btn-primary">글 작성</a>

    <!-- 조건문, 순회문 -->
    <!-- 글이 있을 떄 -->

    {% if posts %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>제목</td>
                <td>내용</td>
                <td>상자</td>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td><a href="{% url 'blog:detail' pk=post.pk %}">{{ post.title }}</a></td>
                {% comment %}

                {% endcomment%}
                <td>{{ post.writer}}</td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
    {% else %}
    <!-- 글이 없을때 -->

        <p>작성된 게시물이 없습니다.</p>
    {% endif %}

    <!-- context -->

    <!-- 테이블 -->

    <!-- 글이 없습니다. -->

{% endblock %}